################################################################################
# C++
################################################################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

################################################################################
# IDEs
################################################################################

# Clion
.idea

# Eclipse
.project
.cproject

# Emacs
.#*

# Qtcreator
CMakeLists.txt.user

# Visual Studio Code
.vscode
# pixi environments
.pixi/*
!.pixi/config.toml

.cache
compile_commands.json

aria
dorian3d
kimera_common
kimera_graph_msgs
kimera_graph_visualizer
laurentkneip
MIT-SPARK
gpu
borglab

*.pyc
*/*.pyc
*/*.pyo